head
meta(name="color-scheme", content="light")
link(rel="stylesheet", href="araneus.css", data-inline)
body
    div#email-page
        div#email-container
            div#empty-first-div
            table#header-img(background=`${CCT_Banner_Img}`)
            div#message-container
                p Dear #{userName},

                p We've received a request to reset the password for your Crypto Custody Trust account. As your security and privacy are paramount to us, we want to ensure this request was made by you.

                p#noMargin Reset Your Password:
                p#noMargin To proceed with resetting your password, enter the following code where prompted. This verification code will remain active for 1 hour. If you did not initiate this request, please disregard this email, and no changes will be made to your account.

                p Verification Code: #{Code}

                p Why Reset Your Password?

                p Security Enhancement: Regularly updating your password helps protect your account against unauthorized access.
                p Account Integrity: A strong, unique password ensures your digital assets and personal information remain secure under our Wyoming trust and insurance policy.
                
                p#noMargin Creating a Strong Password:
                p#noMargin Use a mix of letters, numbers, and symbols.
                p#noMargin Make it unique from passwords you use for other accounts.
                p#noMargin Avoid common words and easily guessable sequences.
                
                p

                p#noMargin Didn't Request This?
                p#noMargin If you did not request a password reset, it's important to secure your account:

                p

                p#noMargin Log in to your account and review your security settings.
                p#noMargin Consider changing your password if you suspect any unusual activity.
                p#noMargin Enable or update your Two-Factor Authentication for added security.
                p#noMargin Your trust and security are our top priority. If you have any concerns or need assistance, please contact our support team.

                p Thank you for choosing Crypto Custody Trust for your digital asset management needs.

                p#regardsLabel Warm regards,
                p#noMargin Trust Team,
                p#noMargin Crypto Custody Trust

