body{
    margin: 0px !important;
}
#email-page{
    background: white !important;
    background-color: white !important;
    margin: 0px auto !important;
    max-width: 600px !important;
    color: black !important;
    font-size: 16px !important;
    padding: 10px;
}
#empty-first-div{
    padding-bottom: 25px !important;
}
#header-img{
    width: 100% !important;
    height: 65px !important;
    margin: 0px auto !important;
    max-width: 450px !important;
    background-repeat: no-repeat !important;
}
#message-container{
    width: 100% !important;
    margin: 0px auto !important;
    max-width: 450px !important;
}
a#visit-btn{
    display: block !important;
    width: 115px !important;
    height: 25px !important;
    text-decoration: none !important;
    background: #0727F8 !important;
    padding: 10px !important;
    text-align: center !important;
    border-radius: 5px !important;
    color: white !important;
    line-height: 25px !important;
}
p#regardsLabel{
    margin-top: 20px 0px;
}
p#noMargin{
    margin: 0px;
}



@media (prefers-color-scheme: dark) {
    #email-page{
        background: white !important;
        background-color: white !important;
        color: black !important;
    }
    a#visit-btn{
        background: #0727F8 !important;
        color: white !important;
    }
}
@media screen and (prefers-color-scheme: dark) {
    #email-page{
        background: white !important;
        background-color: white !important;
        color: black !important;
    }
    a#visit-btn{
        background: #0727F8 !important;
        color: white !important;
    }
}
@media (prefers-color-scheme: light) {
    #email-page{
        background: white !important;
        background-color: white !important;
        color: black !important;
    }
    a#visit-btn{
        background: #0727F8 !important;
        color: white !important;
    }
}
@media screen and (prefers-color-scheme: light) {
    #email-page{
        background: white !important;
        background-color: white !important;
        color: black !important;
    }
    a#visit-btn{
        background: #0727F8 !important;
        color: white !important;
    }
}